<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--for design-time only-->
    <add name="sql_server_connection" connectionString="XpoProvider=MSSqlServer;Server=localhost;User Id=;Password=;Database=Northwind;Persist Security Info=true" />
  </connectionStrings>
</configuration>